button {
    margin: 5px 0 5px 0;
    padding: 10px 15px;
    font-size: 16px;
    border-radius: 25px;
    border: 2px solid #ffff22;
    background-color: #FFF;
    box-sizing: border-box;
    color: #FF5722;
    cursor: pointer;
}

button:hover {
    background-color: #30a548;
    color: #FFF;
    transition: all 1s ease 0s;
}